/* For troubleshooting */
nav *,
nav,
header *,
header,
.practice *,
.practice,
.events *,
.events,
.learning *,
.learning,
.learning-mobile *,
.learning-mobile,
.thesis *,
.thesis,
.events2 *,
.events2,
footer,
footer *,
footer {
/*
     border: 1px dotted red; 
*/
}

/* Reset CSS */
/* Universal selector (*) targets every element (regardless tag, class, ID) */
* {
    margin: 0;
    padding: 0;

    /* border: 1px dotted red; */
}

html {
    font-size: 16px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    display: grid;
    grid-template-columns: [full-start] 0.6fr [center-end center-start] 0.4fr [full-end];
    /* start to center to end */
    grid-template-rows: repeat(6, min-content);
    max-width: 100rem;
    margin: 0 auto;
}


/** Start of Desktop Section **/
/** ************************ **/

/* Set up the navbar for the desktop */
nav {
    grid-column: full-start / full-end;
    display: flex;
    justify-content: space-between;
    height: 4rem;
}

/* Set up logo styles */
.logo {
    height: 3rem;
    margin-left: 1.5rem;
}

.logoname {
    text-transform: uppercase;
}

.logoname-bold {
    font-weight: bold;
    color: #484848;
}

.logoname-light {
    font-weight: lighter;
    color: #AAA;
}


/* Set up navigation links' styles */
nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

nav ul li {
    padding-right: 1rem;
}

nav>a {
    display: flex;
    align-items: center;
}

nav ul li:last-child {
    padding-right: 1.5rem;
}


/* Set up header area */
header {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    /* center vertically */
    justify-content: center;
    /* center horizontally */
    background-color: #D8D8D8;
}

.imgcontainer {
    padding: 2rem 1.5rem;
}

header>img {
    max-width: 100%;
    height: auto;
}

header>div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 18rem;
    padding: 0 1.5rem;
}

header>div>h1 {
    font-size: x-large;
}

header>div>h2 {
    font-size: large;
}

header>div>a {
    display: block;
    width: 100%;
    background-color: #484848;
    padding: 0.5rem 0;
    text-align: center;
    color: #FFF;
}

/* hover effect for call to action link */
header>div>a:hover {
    color: rgb(255, 255, 255, 0.5);
    background-color: rgb(72, 72, 72, 0.5);
}


/* Set up practice section */
.practice {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.practice>.imgcontainer>img {
    max-width: 100%;
    height: auto;
}

.thesis-left-content,
.practice>.practice-text {
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.practice>.practice-text>h1 {
    font-size: x-large;
    margin: 2rem 0 1.5rem 0;
}

.practice>.practice-text>p {
    font-size: small;
    font-weight: lighter;
}

.practice>.practice-text>p>span {
    display: block;
    padding: 2rem 0;
}


/* Set up events section */
.events {
    display: grid;
    grid-template-rows: repeat(3, min-content);
    border-left: 1px solid #E7E7E7;
}

.events-block {
    display: grid;
    grid-template-columns: 0.35fr 0.65fr;
    border-top: 1px solid #E7E7E7;
    border-bottom: 1px solid #E7E7E7;
    align-items: center;
}

.events>.events-block:last-child,
.events2>.events-block:first-child  {
    background-color: #D8D8D8;
}

.events-block>img {
    max-width: 100%;
    height: auto;
    margin: 1rem;
}

.events>.events-block:first-child>img {
    margin-top: 2rem;
}

.events-block>.events-text {
    margin: 2rem;
}

.events-block>.events-text>h3 {
    font-size: medium;
}

.events-block>.events-text>a,
.events-block>.events-text>p {
    font-size: small;
}

.events-block>.events-text>a {
    color: #3434C6;
}

.events-block>.events-text>p {
    margin: 0.5rem 0;
}

/* Set up learning section */
.learning {
    background-color: #eaebec;
    height: auto;
    grid-column: full-start / full-end;
}

.learning-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    font-size: x-large;
    font-weight: 800;
    color: #4A4A4A;
}

.learning-container {
    display: grid;
    width: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 2rem;
    margin: 2rem 4.5rem;
}

.card a {
    text-decoration: none;
    color: #797676;
}

.card h4 {
    margin: 1rem;
    font-size: x-large;
}

.card-content {
    margin: 1rem 1rem;
    width: 60%;
}

.scope {
    padding: .5rem 0;

}

.card img {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.card {
    background-color: #FFF;
}

.card:hover {
    transform: scale(1.03);
}

/* Set up thesis section */
.thesis-heading {
    /* display: grid; */
    grid-column: full-start / full-end;
    margin: 2rem auto;
}

/* Set up footer section */
footer {
    grid-column: full-start / full-end;
    display: flex;
    flex-direction: row;
    font-size: smaller;
    border-top: 1px solid #E7E7E7;
    justify-content: space-between;
    padding: 1rem 0 2rem 0;
    color: #8D8D8D;
}

footer>p {
    margin-left: 1.5rem;
}

footer>ul {
    display: flex;
    list-style: none;
}

footer>ul>li {
    margin-right: 1rem;
}

footer>ul>li:last-child {
    margin-right: 1.5rem;
}

/* Hide nav-mobile and events mobile */
.events>.events-block>.events-img-mobile,
.learning-mobile,
#nav-mobile {
    display: none;
}




/** ********************** **/
/** End of Desktop Section **/



/** Start of Mobile Section **/
/** *********************** **/

/* if the width of screen is 640px and below (aka 40rem x 16px) */
@media screen and (max-width: 40rem) {

    /* Hide desktop sections */
    nav,
    .practice,
    .events>.events-block>img,
    .learning,
    .thesis-left-content,
    .events2,
    footer ul {
        display: none;
    }

    #nav-mobile {
        display: flex;
        align-items: center;
        height: 4rem;
        grid-column: full-start / full-end;
        justify-content: space-around;
    }

    header {
        display: grid;
        grid-column: full-start / full-end;
    }

    .imgcontainer {
        padding: 0;
    }

    header>div {
        display: block;
        width: auto;
        height: auto;
        padding: 2rem 1rem;
    }

    header>div>h1 {
        font-size: 3rem;
        padding: 2rem 0;
    }

    header>div>h2 {
        font-size: x-large;
        font-weight: normal;
        padding-bottom: 1.5rem;
    }

    header>div>a {
        opacity: 0.5;
    }

    .events {
        display: grid;
        grid-column: full-start / full-end;
        border-left: none;
    }

    .events>.events-block {
        display: flex;
        flex-direction: column;
        padding: 1rem 1rem 2rem 1rem;
    }

    .events>.events-block:first-child>img {
        margin-top: 0;
    }

    .events>.events-block:last-child {
        background-color: #FFF;
        border-bottom: 1px solid #E7E7E7;
    }

    .events>.events-block>.events-text {
        width: 100%;
        height: 100%;
        padding-left: 1rem;
    }

    .events>.events-block>.events-text>h3 {
        font-size: xx-large;
    }

    .events>.events-block>.events-text>p .events>.events-block>.events-text>a {
        font-size: large;
        font-weight: lighter;
    }

    .events>.events-block>.events-img-mobile {
        display: block;
    }

    .learning-mobile {
        display: grid;
        grid-column: full-start / full-end;
        border-bottom: 1px solid #E7E7E7;
    }

    .mobile-learning {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin-bottom: 2rem;
    }

    .mobile-learning a {
        text-decoration: none;
    }

    .mobile-learning li:hover {
        transform: scale(1.03);
        background-color: #adadad;
    }

    .mobile-learning li {
        text-decoration: none;
        list-style: none;
        font-size: large;
        font-weight: 600;
        background-color: #D8D8D8;
        margin: 1rem 1rem 0.5rem 1rem;
        font-size: 1.2rem;
        padding: 1.5rem 0 1.5rem 1rem;
        color: #4b4b4b;
    }

    .learning-heading-mobile {
        font-size: xx-large;
        margin: 2rem auto 0.5rem auto;
        color: #4f4f4f;
    }

    .thesis {
        grid-column: full-start / full-end;
    }



}

/* *********************** */
/** End of Mobile Section **/
